{% extends 'core/base.html' %}

{% block title %}{{ listing.title }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row bg-body-tertiary mt-5 gx-2">
            <div class="col-sm-8">
                <div>
                    <img src="{{ listing.image.url }}" alt="listing {{ listing.title }}" class="img-fluid rounded">
                </div>
            </div>
            <div class="col-sm-4 bg-secondary" style="--bs-bg-opacity: .15;">
                <div class="m-0">
                    <h2>{{ listing.title }}</h2>
                    <p>Sold by: {{ listing.seller }}</p>
                    <p>Location: {{ listing.location }}</p>
                    <p>Category: {{ listing.category }}</p>
                    <button type="button" class="btn btn-info">Contact Seller</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#TODO: link to seller in selled by, link to location in location (sic), related items and nearby items#}