{% extends 'core/base.html' %}

{% block title %}Results {% endblock %}

{% block content %}
    <div class="container">
        <div class="px-3 mx-4">
            <h1>Search our listings</h1>
            <form method="get" action="{% url 'listing:search' %}" class="d-flex mx-auto" >
                <input name="query" class="form-control me-2" value="{{ query }}" type="text" placeholder="Find your next deal!" aria-label="Search">
                <button class="btn btn-outline-success">Search</button>
            </form>
        </div>
        <div class="container mt-3 bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <div class="row">
                <div class="col-md-2">
            <h4 class="pt-3">Filter by category</h4>
                <ul class="list-group list-unstyled" >
                    {% for category in categories %}
                            <a class="list-group-item rounded list-group-item-action {% if category.id == category_id %} active{% endif %}" href="{% url 'listing:search' %}?query={{ query }}&category={{ category.id }}"><li>{{ category.name }}</li></a>
                        {% endfor %}
                </ul>
                <hr>
                <div>
                    <p>Clear Filters:</p>
                     <a href="{% url 'listing:search' %}"><button class="btn btn-danger me-2">Reset</button></a>
                </div>
            {#   TODO: sorting             #}
            </div>



            <div class="col-md-10"><div class="row gx-5">
                {% for listing in listings %}
                    <div class=" col-md-4 my-3">
                        <div class="rounded bg-body-tertiary p-2">
                            <a href="{% url 'listing:detail' listing.id %}" style="text-decoration: none">
                        <div>
                           {% if listing.image %}
                        <img src="{{ listing.image.url }}" alt="listing {{ listing.title }}" class="img-thumbnail rounded">
                    {% else %}
                        <p>No photo available!</p>
                    {% endif %}
                        </div>
                        <div>
                            <h3>{{ listing.title }}</h3>
                            <p>Location: {{ listing.location }}</p>
                            <p>Price: €{{ listing.price }}</p>
                        </div>
                    </a>
                        </div>
                    </div>
                {% endfor %}
            {% if not listings %}
                <p class="py-3">There are no listings in this category(</p>
            {% endif %}
            </div></div>
            </div>
        </div>
    </div>
{% endblock %}