{% block content %}
    <div class="container">
        <div class="row bg-body-tertiary mt-5 gx-2">
            <div class="col-sm-8 px-3">
                <div>
                    <img src="{{ listing.image.url }}" alt="listing {{ listing.title }}" class="img-fluid rounded">
                </div>
            </div>
            <div class="col-sm-4 px-3 rounded bg-secondary" style="--bs-bg-opacity: .15;">
                <div>
                    <h2>Welcome, {{ user.first_name }} {{ user.last_name }}</h2>

                    <button type="submit" class="btn btn-success">Edit Info</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}