{% extends 'core/base.html' %}

{% block title %}Home {% endblock %}

{% block content %}
    <div class="container">
        <div class="px-3 mx-4">
            <h1>Welcome to Done Deal!</h1>
            <form method="get" action="{% url 'listing:search' %}" class="d-flex mx-auto">
                <input name="query" class="form-control me-2" value="{{ query }}" type="text"
                       placeholder="Find your next deal!" aria-label="Search">
                <button class="btn btn-outline-success">Search</button>
            </form>
        </div>
        <div class="container mt-3 bg-secondary rounded" style="--bs-bg-opacity: .15;">
            <h4 class="pt-3">Newest insertions</h4>
            <div class="row gx-5">
                {% for listing in listings %}
                    <div class=" col-md-4 my-3">
                        <div class="rounded bg-body-tertiary p-2">
                            <a href="{% url 'listing:detail' listing.id %}" style="text-decoration: none">
                                <div>
                           {% if listing.image %}
                        <img src="{{ listing.image.url }}" alt="listing {{ listing.title }}" class="img-thumbnail rounded">
                    {% else %}
                        <p>No photo available!</p>
                    {% endif %}
                        </div>
                        <div>
                            <h3>{{ listing.title }}</h3>
                            <p>Location: {{ listing.location }}</p>
                            <p>Price: €{{ listing.price }}</p>
                        </div>
                    </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}